<?xml version = "1.0" encoding = "UTF-8"?>


<suite name = "EBANKING">

<listeners>

<listener class-name = "com.EBANKING.utilities.Reporting"/>

</listeners>

<test name = "Banking app test">

<parameter name = "browser" value = "chrome" />

<classes>

  <class name ="com.EBANKING.testcase.TC_Logintest_001" /> 
  
  <!--  <class name ="com.EBANKING.testcase.TC_LoginDDT_002" />  -->      

     <class name ="com.EBANKING.testcase.TC_Addcustomerpage_003" />   
 
 
 



</classes>


</test>


</suite>